.video {   
  object-fit: cover;   
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1; 
}

.navContainer {
  position: relative;
  height: 50vh;
}

@media only screen and (min-width: 600px) {
  .navContainer {
    height: 100vh;
  }

}
